<%= form_with(model: person, local: true) do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :person_name %>
  </div>

  <div class="field">
    <%= form.label :sex %>
    <%= form.number_field :sex, id: :person_sex %>
  </div>

  <div class="field">
    <%= form.label :moves_out %>
    <%= form.datetime_select :moves_out, id: :person_moves_out %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
